.home-container {
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2vh;
    flex-wrap: wrap;

}

.project-nav-button {
    font-size: 40px;
    font-weight: 400;
    color: greenyellow;
    transition: transform 0.2s ease-in-out;
}
.project-nav-button:hover {
    transform: scale(1.3);
}



.left-column {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
}

.left-column {
    position: absolute;
    bottom: 0;
    width: 70%;
    margin-bottom: 5%;
    margin-left: 5%;


}

.sluggan-header {
    align-items: center; /* Centrerar vertikalt */
    background: rgba(0, 255, 0, 0.35);
    border-radius: 10px;
    padding: 1%;
}


.sluggan-icon {
    font-size: 30px;
}

.sluggan-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgba(0, 255, 0, 1);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.6);
}

.description {
    font-size: 25px;
    line-height: 1.5;
}


h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {


    .left-column {
        text-align: center; /* Centrera texten */
        bottom: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }

    .sluggan-text {
        font-size: 10px;
    }

    .sluggan-icon {
        font-size: 15px;
    }

    .sluggan-header {
        margin-top: 5vh;

        display: flex;
        justify-content: space-evenly;

    }


    .description {
        margin-top: 5vh;
        font-size: 15px;
    }

    .home-container {
        overflow: hidden;
        flex-direction: column; /* Kolumner staplas vertikalt på mobilen */
        align-items: center; /* Centrerar innehållet */
        justify-content: space-between;
        height: 100vh;

    }


    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
    }
}
