.home-container {
    font-family: 'Press Start 2P', monospace;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.6);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2vh;
    flex-wrap: wrap;

}

.left-column,
.right-column {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
}

.left-column {

    position: absolute;
    bottom: 0;
    width: 70%; /* Du kan justera bredden här */
    margin-bottom: 5%;
    margin-left: 5%;
}

.sluggan-header {
    display: inline-block;
    background: rgba(0, 255, 0, 0.35);
    border-radius: 10px;
    padding: 1%;
}

.sluggan-icon {
    font-size: 30px;
}

.sluggan-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    color: rgba(0, 255, 0, 1);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.6);
}

.description {
    font-size: 25px;
    line-height: 1.5;
}

.right-column {
    text-align: right;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .left-column,
    .right-column {
        width: 100%; /* Full bredd på små skärmar */
        padding: 5px; /* Lite mindre padding */
        bottom: auto;
        text-align: center; /* Centrera texten */
        position: relative; /* Ta bort absolut positionering på mobil */
    }

    .sluggan-text {
        font-size: 14px;
    }

    .description {
        font-size: 18px;
    }

    .home-container {
        flex-direction: column; /* Kolumner staplas vertikalt på mobilen */
        justify-content: center;
        align-items: center; /* Centrerar innehållet */
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
    }
}
